@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a type="button" class="btn btn-primary" asp-controller="Patient" asp-action="Index">Pacientes</a>
    <a type="button" class="btn btn-primary" asp-controller="Doctor" asp-action="Index">Doctores</a>
    <a type="button" class="btn btn-primary" asp-controller="Appointment" asp-action="Index">Citas</a>
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
